.gradle
local.properties
.DS_Store
.idea/*
!.idea/copyright/
*.iml
/build
build/

projectFilesBackup/

#freeline
freeline.py
freeline/
freeline_project_description.json
freeline_core/

#bugly
/app/bugly
